/local.properties
/keystore.properties
/build
/.idea
/.gradle
/.settings
.externalNativeBuild
*.iws
*.iml
*.jks
dadanplay.jks
keystore.properties
.cursor/
.lingma/rules/build.md
BUGLY_INTEGRATION.md
.trae
docs/
